# Pastas de build do Maven que não queremos na imagem
target/

# Pastas de IDE e Sistema
.idea/
.vscode/
.DS_Store

# Arquivos de log
*.log

# Arquivos Git (não devem ir para a imagem)
.git/
.gitignore

